.ttile{
    margin-top: 0;
    margin-bottom: 0px;
   font-size: 50px;
   font-weight:900;
   letter-spacing: -5px;
  }

  .main-rules {
    margin-top: 60px;
    text-align: center;
   
    font-family: Noto Sans,sans-serif;

  }

  .bzeg {
      text-align: left;
      padding-left: 50px;
      padding-right: 50px;
      margin-bottom: 25px;
      margin-top: 25px;
      text-align: justify;
  }

  .bzeg33 {
    text-align: left;
    padding-left: 150px;
    padding-right: 50px;
    text-align: justify;
}
