.AnimatedForm__submitButton {
    overflow: inherit;
    position: relative;
    font-family: IBMPlexSans,sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
    line-height: 32px;
    color: #fff;
    display: inline-block;
    border: none;
    border-radius: 4px;
    text-align: center;
    background: #282c34;
    text-transform: uppercase;
    cursor: pointer;
    line-height: unset;
    min-height: 35px;
    max-width: 392px;
    width: auto;
    /* min-width: 155px; */
    padding: 5px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .required-con {
    margin-top: 100px;
  }



  table {
    margin-left: auto;
    margin-right: auto;
  }

  thead {
    background-color: #282c34;
    color: rgb(206, 207, 198);
  }

  td {
      border: 1px solid #333;
      text-align: left;
  }

  .td-score {
    text-align: right;
    padding-right: 6px;
  }

  .td-player{
    width: 500px;
    padding-left: 6px;

  }

  .td-number {
    padding-left: 6px;
    padding-right: 10px;

  }

  .td-corner {
    background-color: rgb(206, 207, 198);
    border: none;
  }
  
.titile{
  margin-top: 0;
  margin-bottom: 10px;
 font-size: 50px;
 font-weight:900;
 letter-spacing: -5px;
}

  .main {
    margin-top: 60px;
    text-align: center;
   
    font-family: Noto Sans,sans-serif;

  }
  