#forms
{
    width:100%;
    position:fixed;
    margin-top: calc(300px - 19vmax);
}



#forms #gauche {
    width: 20%;
    float:left;
    margin-left: 25%;
    

}

#forms #milieu {
    width: 0%;
    background-color: rgb(206, 207, 198);
    margin-left:1.7% ;
    float:left;
}
#forms #droite {
    width: 20%;
    margin-left:48% ; 

}
.vertical { 
    border-left: 1px solid #9e9fa1; 
    height: 180px; 
    display: inline-block;
    margin-top: 50px;
    } 
body {
    background-color: rgb(206, 207, 198);
}

.disp-gen {
    overflow: hidden;
}

